.container {
  display: flex;

  height: 100vh;
  background: #e5e7eb;
}

.main {
  width: 100%;
}

.header {
  border-radius: 0 0 0 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
  height: 4rem;
  background: #fff;

  border-bottom: 3px solid rgba(187, 187, 187, 0.652);

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px solid green;
    }
  }
}

.statistics {
  padding: 1.5rem 2rem;

  h2 {
    font-size: 1rem;
    font-weight: 500;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;

    margin-top: 1.5rem;
  }

  &__card {
    display: flex;
    width: 20rem;
    background: white;

    border-radius: 8px 4px 4px 8px;

    gap: 1rem;
  }

  &__cardInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h3 {
      font-size: 1.2rem;
      font-weight: 400;
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      color: gray;
    }
  }

  &__card::before {
    content: 'SN';
    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px 0 0 8px;

    color: white;

    background: purple;
  }
}
