.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 10vw;
  height: 100vh;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  background: #d1d5db;

  &__logo {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    img {
      width: 5rem;
    }

    h1 {
      font-size: 0.875rem;
    }
  }

  &__items {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;

      opacity: 0.8;

      cursor: pointer;
      list-style: none;

      color: black;
    }

    li:hover {
      opacity: 1;
    }
  }
}
