@import url('http://fonts.cdnfonts.com/css/akrobat');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: rgba(255, 255, 255, 0.2);
  --text-light: rgba(255, 255, 255, 0.5);
  --text-dark: #72757e;
  --text-placeholder: #44475a;

  --color-primary: #01c6a0;

  --family-primary: 'Roboto', sans-serif;
  --family-secondary: 'Akrobat', sans-serif;
  --family-code: 'Roboto Mono', monospace;

  --linear-background: linear-gradient(
    169.92deg,
    #01c6a3 -72.09%,
    rgba(3, 7, 24, 0.95) 92.45%
  );
}

:where(html) {
  block-size: 100%;
  font-family: var(--family-primary);
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :where(:focus-visible) {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}

:where(:not(:active):focus-visible) {
  outline-offset: 5px;
}

:where(body) {
  min-block-size: 100%;
}

:where(a[href], area, button, label[for], summary, [tabindex]:not([tabindex*='-'])) {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

fieldset {
  border: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(12, 12, 12, 0.4);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
