.loginContainer {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.loginContainer div h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.loginContainer div p {
  font-size: .9rem;
  opacity: .8;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 5rem;
}

.loginContainer form input {
  width: 20vw;
  height: 6vh;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 3px solid #202024;

  color: white;
  
  background: transparent;
  outline: none;
}

.loginContainer form input[type="submit"] {
  background: #633BBC;
  font-weight: bold;
  font-size: 1rem;
  border: 0;

  cursor: pointer;
}

.accountText span {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.accountText span a {
  font-size: 1rem;

  text-decoration: none;
  color: #633BBC;
}

.accountText span a:hover {
  text-decoration: underline;
  font-weight: bold;
}